<%= content_for :login do %>
<p>
<a href="/">
<img border="0" alt="LearnRate" src="/assets/new_age/logo.png">
</a>
</p>
<p>
<h1>Log In</h1>

<%= form_tag :sessions do %>
  <%= label_tag :username %><br>
  <font color="black"><%= text_field_tag :username %><br></font>
  <%= label_tag :password %><br>
  <font color="black"><%= password_field_tag :password %><br></font><br>
  <font color="navyblue"><%= submit_tag "Log In" %><br></font>
<% end %>
<br>


<a href="/signup" class="btn btn-outline btn-xl">Not Registered? Sign Up</a>

<% end %>

<%= render "header" %>

<%= render "footer" %>
