<%= content_for :signup do %>
<p>
<a href="/">
<img border="0" alt="LearnRate" src="/assets/new_age/logo.png">
</a>
</p>
<p>
  <%= form_for @user do |f| %>
    <h4>Your info:</h4>
    <%= f.label :first_name %><br>
    <font color="black"><%= f.text_field :first_name %><br></font>
    <%= f.label :last_name %><br>
    <font color="black"><%= f.text_field :last_name %><br><br></font>
    <h4>Login info:</h4>
    <%= f.label "Username:" %><br>
    <font color="black"><%= f.text_field :username %><br></font>
    <%= f.label "Enter your password:" %><br>
    <font color="black"><%= f.password_field :password %><br></font>
    <%= f.label "Confirm your password:" %><br>
    <font color="black"><%= f.password_field :password_confirmation %></font>
    <p>
      <%= f.check_box :admin %> <%= f.label "Admin?" %>
    </p>
    <p>
      <%= f.submit "Sign up", :class =>'btn btn-outline' %>
    </p>
  <% end %>
  <br>
  <a href="/login" class="btn btn-outline btn-xl">Already Registered? Log In</a>

<% end %>



<%= render "header" %>

<%= render "footer" %>
