<h1>All Users</h1>

<p><strong><font color="#ff0000"><%= flash[:notice] %></font></strong></p>
<table class="table table-striped">


<tr>
  <th>Username</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th colspan="3">Lessons</th>
  <%= "<th>Admin?</th>".html_safe if current_user.admin %>
</tr>

<% @users.each do |user| %>

  <tr>
   <td><%= link_to user.username, user %></td>
   <td><%= user.first_name %></td>
   <td><%= user.last_name %></td>
   <td bgcolor="FF5555"><%= "need help #" %></td>
   <td bgcolor="FFFF00"><%= "working on #" %></td>
   <td bgcolor="55FF55"><%= "completed #" %></td>
   <% if current_user.admin %>
     <%= "<td>yes</td>".html_safe if user.admin %>
   <% end %>
  </tr>

<% end %>

</table>
<br>

<%= link_to "Create a New User", new_user_path if current_user.admin %>
