<style>
  body {
    background-image: url("/assets/new_age/colorbg.jpg");
  }
</style>

<div class="jumbotron">

    <h1><%= link_to "Hey there, #{@current_user.first_name}!", user_path(@current_user) %> </h1>

  <tr>
    <h3>A little info about you:</h3>
    <h2>Need help on <%= @current_user.reviews.all.count { |review| review.tag.progress == "Need Help" } %> lessons<br></h2>
    <h2>Are working on <%= @current_user.reviews.all.count { |review| review.tag.progress == "Working On" } %> lessons<br></h2>
    <h2>Completed <%= @current_user.reviews.all.count { |review| review.tag.progress == "Completed" } %> lessons<br></h2>
  </tr>

  </table>

  <p><strong><font color="#ff0000"><%= flash[:notice] %></font></strong></p>

  <br>


  <div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

  <div class="panel panel-default">

    <div class="panel-body">
<h2>I know what you're thinking....how do I review a lab?</h2>
      <h4><h3>Frustration:</h3> Did you drop the F-Bomb? Were you tempted to delete tests in the spec file?<h4>
      <h4><h3>Quality:</h3> Did you find bugs? Were they easy to squash?<h4>
      <h4><h3>Helpfulness:</h3> Did you learn new concepts that could be applied elsewhere?<h4>
      <h4><h3>Time Taken:</h3> How long did it take to get the green lights? Have you grown a beard?<h4>
      <br></br>
        <p>
          <a href="reviews/new" class="btn btn-primary btn-lg">Make a Review</a>
        </p>
  </div>
  </div>

</div>
