<style>
  body {
    background-image: url("/assets/new_age/colorbg.jpg");
  }
</style>

<div class="jumbotron">

  <table class="table table-striped">

  <tr>
    <th colspan="3"><%= link_to "Hey there #{@current_user.first_name}! Here's Your Progress:", user_path(@current_user) %></th>
  </tr>
  <tr>
    <th bgcolor="FFAAAA">Lessons Needing Help</th>
    <th bgcolor="FFFF00">Lessons Working On</th>
    <th bgcolor="AAFFAA">Completed Lessons</th>
  </tr>

  <tr>
   <td bgcolor="FF5555"><%= @current_user.reviews.all.count { |review| review.tag.progress == "Need Help" } %></td>
   <td bgcolor="FFFF00"><%= @current_user.reviews.all.count { |review| review.tag.progress == "Working On" } %></td>
   <td bgcolor="55FF55"><%= @current_user.reviews.all.count { |review| review.tag.progress == "Completed" } %></td>
  </tr>

  </table>

  <p><strong><font color="#ff0000"><%= flash[:notice] %></font></strong></p>

  <br>


<h3>I know what you're thinking....how do I review a lab?</h3>
  <div class="panel panel-default">

    <div class="panel-body">

      <h4><h3>Frustration:</h3> Did you drop the F-Bomb? Were you tempted to delete tests in the spec file?<h4>
      <h4><h3>Quality:</h3> Did you find bugs? Were they easy to squash?<h4>
      <h4><h3>Helpfulness:</h3> Did you learn new concepts that could be applied elsewhere?<h4>
      <h4><h3>Time Taken:</h3> How long did it take to get the green lights? Have you grown a beard?<h4>
      <br></br>
        <p>
          <a href="reviews/new" class="btn btn-primary btn-lg">Make a Review</a>
        </p>
  </div>


</div>
