<h1><%= link_to @lesson.name, "http://#{@lesson.url}" %></h1>
<h4>Module: <%= location[0] %></h4>
<h4>Unit: <%= location[1] %></h4>
<h4>Lesson: <%= location[2] %></h4>
<h4>Lesson Type: <%= @lesson.lesson_type %></h4>

<p><%= @lesson.description %></p>

<%= link_to "Edit this lesson", edit_lesson_path(@lesson) %><br>
<%= link_to "Back to All Lessons", lessons_path %>
