<% if @lesson.errors.any? %>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @lesson do |f| %>

  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :description %></p>
  <p><%= f.text_area :description %></p>
  <p><%= f.label :url %></p>
  <p><%= f.text_field :url %></p>
  <p><%= f.label "Module, Unit, Lesson Number (##-##-##-##)" %></p>
  <p><%= f.text_field :unit_location %></p>
  <p><%= f.label "Lesson Type:" %> <% f.select :lesson_type, ["Reading", "Lab"] %></p>
  <p><%= f.label :lesson_type_reading, "Reading" %> <%= f.radio_button :lesson_type, "Reading", :checked => true %>
  <%= f.label :lesson_type_lab, "Lab" %> <%= f.radio_button :lesson_type, "Lab" %></p>
  <p><%= f.submit %></p>

<% end %>
