<h1>All Lessons</h1>

<p><strong><font color="#ff0000"><%= flash[:notice] %></font></strong></p>

<table class="table table-striped">


<tr>
  <th>Lesson Name</th>
  <th>Module</th>
  <th>Subject</th>
  <th>Unit</th>
  <th>Number</th>
  <th>Type</th>
  <th>Direct Link</th>
</tr>

<% @lessons.each do |lesson| %>
<% location = lesson.unit_location.split("-").map(&:to_i) %>

  <tr>
   <td><%= link_to lesson.name, lesson %></td>
   <td><%= location[0] %></td>
   <td><%= location[1] %></td>
   <td><%= location[2] %></td>
   <td><%= location[3] %></td>
   <td><%= lesson.lesson_type %></td>
   <td><%= link_to "Link", "http://#{lesson.url}" %></td>
  </tr>

<% end %>

</table>
<br>

<%= link_to "Create a New Lesson", new_lesson_path %>
