<% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li><br>
    <% end %>
  </ul>
<% end %>

<%= form_for @review do |f| %>

  <%= "Review by #{current_user.username}" %>

  <p><%= f.collection_select :lesson_id, Lesson.all, :id, :name %></p>

  <p><%= f.fields_for :rating do |rating| %></p>
    <p><%= rating.label :quality %> <%= rating.select :quality, [1,2,3,4,5,6,7,8,9,10] %></p>
    <p><%= rating.label :helpfulness %> <%= rating.select :helpfulness, [1,2,3,4,5,6,7,8,9,10] %></p>
    <p><%= rating.label :frustration %> <%= rating.select :frustration, [1,2,3,4,5,6,7,8,9,10] %></p>
    <p><%= rating.label :time_taken %> <%= rating.select :time_taken, [1,2,3,4,5,6,7,8,9,10] %></p>
  <% end %>

  <p><%= f.fields_for :tag do |tag| %></p>
    <p><%= tag.label :progress %> <%= tag.select :progress, ["Need Help","Working On","Completed"] %></p>
  <% end %>

  <p><%= f.label :comment %></p>
  <p><%= f.text_area :comment %></p>



  <p><%= f.submit %></p>

<% end %>
