<% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li><br>
    <% end %>
  </ul>
<% end %>

<%= form_for @review do |f| %>

  <p><%= "Review by #{current_user.username}" %></p>

  <p><%= f.collection_select :lesson_id, Lesson.all, :id, :name %></p>

  <p><%= f.fields_for :rating do |rating| %></p>

    <h3>Please rate the following from 1 to 10:</h3>

    <p><%= rating.label :quality, name: "myform",
        oninput: "range2value.value = range2.valueAsNumber" %>
    <%= rating.range_field :quality, min: 1, max: 10,
        value: (@review.rating.present? ? @review.rating.quality : 1), name: "range2" %></p>

    <p><%= rating.label :helpfulness %>
    <%= rating.range_field :helpfulness, min: 1, max: 10, value: (@review.rating.present? ? @review.rating.helpfulness : 1) %></p>
    <p><%= rating.label :frustration %>
    <%= rating.range_field :frustration, min: 1, max: 10, value: (@review.rating.present? ? @review.rating.frustration : 1) %></p>
    <p><%= rating.label "Completion Time" %></p>
    <p>Hours: <%= rating.number_field :time_taken_hours, value: (@review.rating.present? ? @review.rating.to_only_hours : 1) %>
       Minutes: <%= rating.number_field :time_taken_minutes, value: (@review.rating.present? ? @review.rating.to_only_minutes : 1) %></p>
  <% end %>

  <p><%= f.fields_for :tag do |tag| %></p>
    <p><%= tag.label :progress %> <%= tag.select :progress, ["N/A","Need Help","Working On","Completed"], value: @review.tag.progress %></p>
  <% end %>

  <p><%= f.label :comment %></p>
  <p><%= f.text_area :comment %></p>



  <p><%= f.submit %></p>

<% end %>
