<h1>All Reviews</h1>

<p><strong><font color="#ff0000"><%= flash[:notice] %></font></strong></p>

<table class="table table-striped">


  <tr>
    <th rowspan="2">Username</th>
    <th rowspan="2">Lesson Name</th>
    <th rowspan="2" colspan="3">Unit Location</th>
    <th colspan="4">Ratings</th>
    <th rowspan="2">User's Progress</th>
    <th rowspan="2">Edit</th>
  </tr>
  <tr>
    <th><span class="glyphicon glyphicon-star"></span></th>
    <th><span class="glyphicon glyphicon-ok"></span></th>
    <th><span class="glyphicon glyphicon-fire"></span></th>
    <th><span class="glyphicon glyphicon-time"></span></th>
  </tr>

<% @reviews.each do |review| %>
<% location = review.lesson.unit_location.split("-").map(&:to_i) %>

  <tr>
   <td rowspan="2"><%= link_to review.user.username, user_path(review.user.id) %></td>
   <td rowspan="2"><%= link_to review.lesson.name, review %></td>
   <td colspan="3"><%= "Module #{location[0]}" %></td>
   <td rowspan="2"><%= review.rating.quality %></td>
   <td rowspan="2"><%= review.rating.helpfulness %></td>
   <td rowspan="2"><%= review.rating.frustration %></td>
   <td rowspan="2"><%= review.rating.time_taken %></td>

   <% if review.tag.progress == "Need Help" %>
      <td rowspan="2" bgcolor="FF5555"><%= review.tag.progress %></td>
   <% elsif review.tag.progress == "Working On" %>
      <td rowspan="2" bgcolor="FFFF00"><%= review.tag.progress %></td>
   <% elsif review.tag.progress == "Completed" %>
      <td rowspan="2" bgcolor="55FF55"><%= review.tag.progress %></td>
   <% else %>
      <td rowspan="2"><%= review.tag.progress %></td>
   <% end %>

   <td rowspan="2"><%= link_to "edit this review", edit_review_path(review) if review.user.id == session[:user_id] || current_user.admin %></td>
  </tr>
  <tr>
   <td><%= location[1] %></td>
   <td><%= location[2] %></td>
   <td><%= location[3] %></td>
  </tr>

<% end %>

</table>
<br>

<%= link_to "Create a New Review", new_review_path %>
