<h1><%= link_to @review.lesson.name, "http://#{@review.lesson.url}" %></h1>
<% location = @review.lesson.unit_location.split("-").map(&:to_i) %>
<h4>Module: <%= location[0] %></h4>
<h4>Unit: <%= location[1] %></h4>
<h4>Lesson: <%= location[2] %></h4>
<h4>Lesson Type: <%= @review.lesson.lesson_type %></h4>

<p><%= @review.lesson.description %></p>
<br>

<h2>Review by <%= @review.user.username %></h2>

<table border="2">

  <tr>
    <th>Quality</th>
    <th>Helpfulness</th>
    <th>Frustration</th>
    <th>Time Taken</th>
  </tr>

  <tr>
    <td><%= @review.rating.quality %></td>
    <td><%= @review.rating.helpfulness %></td>
    <td><%= @review.rating.frustration %></td>
    <td><%= @review.rating.time_taken %></td>
  <tr>

</table>
<br>
<br>
<p>Comment: <%= @review.comment %></p>
<br>

<%= link_to "Edit This Review", edit_review_path(@review) %><br>
<%= link_to "Back to All Reviews", reviews_path %>
