<h1><%= link_to @review.lesson.name, "#{@review.lesson.url}" %></h1>
<% location = @review.lesson.unit_location.split("-").map(&:to_i) %>

<table class="table table-striped">

  <tr>
    <th>Module</th>
    <th>Subject</th>
    <th>Unit</th>
    <th>Lesson</th>
    <th>Lesson Type</th>
  </tr>
 <tr>
   <th><%= location[0] %></th>
   <th><%= location[1] %></th>
   <th><%= location[2] %></th>
   <th><%= location[3] %></th>
   <th><%= @review.lesson.lesson_type %></th>
 </tr>


</table>

<p><%= @review.lesson.description %></p>
<br>

<h2>Review by <%= @review.user.username %></h2>

<table class="table table-striped">

  <tr>
    <th>Quality</th>
    <th>Helpfulness</th>
    <th>Frustration</th>
    <th>Time Taken</th>
    <th>Progress</th>
  </tr>

  <tr>
    <td><%= @review.rating.quality %></td>
    <td><%= @review.rating.helpfulness %></td>
    <td><%= @review.rating.frustration %></td>
    <td><%= @review.rating.to_hours_minutes %></td>
    <td><%= @review.tag.progress %></td>
  <tr>

</table>
<br>
<br>
<p>Comment: <%= @review.comment %></p>
<br>

<%= link_to "Edit This Review", edit_review_path(@review) %><br>
<%= link_to "Go To This Lesson", lesson_path(@review.lesson) %><br>
<%= link_to "Back to All Reviews", reviews_path %>
