<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/welcome">LearnRate</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">

          <li><%= link_to "Reviews", reviews_path %></li>
          <li><%= link_to "Lessons", lessons_path %></li>
          <li><%= link_to "Users", users_path %></li>

        </ul>

        <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li style="float:right"><% string = "<span class='glyphicon glyphicon-log-out'></span>" %>
            <%= link_to logout_path, method: :delete  do %>
            <span class='glyphicon glyphicon-log-out'></span>
            Logout
            <% end %></li>

          <li><%= link_to "#{current_user.username}#{" (admin)" if current_user.admin}", "/welcome" %></li>
          <% end %>


        </ul>
      </div>
    </div>
  </nav>

  <div class="container" role="main">
  <style>
    body {background-image: url("/assets/new_age/colorbg.jpg");}

  </style>
    <div class = "jumbotron">
    <%= yield %>
  </div>
</div>

</body>
</html>
